---
import HeadSEO from '../components/layout/HeadSEO.astro';
import Navbar from '../components/layout/Navbar.astro';
import Footer from '../components/layout/Footer.astro';
import '../styles/global.css';

// FIX ERROR: Import Icons di sini (JS Import), bukan di CSS
import '@phosphor-icons/web/regular';
import '@phosphor-icons/web/fill';

interface Props {
	title: string;
	description: string;
    image?: string;
}

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="id" class="scroll-smooth">
	<head>
		<HeadSEO title={title} description={description} image={image} />
		<script is:inline>
			if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
				document.documentElement.classList.add('dark');
			} else {
				document.documentElement.classList.remove('dark');
			}
		</script>
	</head>
	<body class="bg-zinc-50 text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100 transition-colors duration-300 font-sans selection:bg-brand-500 selection:text-white pb-32">
		
        <div class="bg-noise"></div>
        
        <Navbar />
		
        <main class="max-w-7xl mx-auto px-6 pt-32 animate-fade-in relative z-10">
			<slot /> 
		</main>
		
        <Footer />

	</body>
</html>